/* reset */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* textstyles */
h1 {
  font-family: var(--font-family-beatrice);
  font-size: var(--h1-size);
  color: var(--text-color-dark);
  font-weight: var(--font-weight-light);
  font-style: var(--font-style-normal);
}

h2 {
  font-family: var(--font-family-beatrice);
  font-size: var(--h2-size);
  color: var(--text-color-dark);
  font-weight: var(--font-weight-light);
}

h3 {
  font-family: var(--font-family-beatrice);
  font-size: var(--h3-size);
  color: var(--text-color-dark);
  font-weight: var(--font-weight-light);
}

h4 {
  font-family: var(--font-family-montserrat);
  font-size: var(--h4-size);
  color: var(--text-color-dark);
  font-weight: var(--font-weight-medium);
}

p {
  font-family: var(--font-family-montserrat);
  font-size: var(--p-size);
  color: var(--text-color-dark);
  font-weight: var(--font-weight-light);
}

.p-small,
a {
  font-family: var(--font-family-montserrat);
  font-size: var(--p-small-size);
  color: var(--text-color-dark);
  font-weight: var(--font-weight-light);
}
