---
//@ts-nocheck
import { Image } from "astro:assets";
import IndexCard from "../components/IndexCard.astro";
import PageLayout from "../Layouts/PageLayout.astro";
import BigCard from "../components/BigCard.astro";
const response = await fetch(`https://bjirvinbqadjnyjgfaze.supabase.co/rest/v1/kalender?limit=3`, {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJqaXJ2aW5icWFkam55amdmYXplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwMDExMTIsImV4cCI6MjA5NDU3NzExMn0.7zVbvnasSjz7OidFqNKZ2ahvwutN0cPIuVfSlZBV6ks",
  },
});
const data = await response.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <PageLayout heading="Index">
      <h1>Astro</h1>
      {data.map((person) => <IndexCard personData={person} />)}

      <BigCard
        img={import("../assets/forside/forsideRav.svg")}
        imgTekst="billed af rav"
        titel="Rav"
        tekst="RAV arrangerer koncerter og er til for musikken, byen og kulturen. Fokus er på ny musik og trends, samt musikgenrerne rap/hiphop, pop og roots 'n' hybrid. Der afholdes primært koncerter og aktiviteter i Kulturhuset Brønden. Der kan være 500 publikummer til koncerterne.
Blandt andre har RAV lavet koncerter med Lamin, RH, Dejah Makar, AFSKUM og UNG-SKAB."
        ctaTekst="Læs mere"
        href="/rav"
        variant="button"
      />

      <BigCard
        img={import("../assets/forside/forsideBoennen.svg")}
        imgTekst="Brønden & Bønnen holder åbent på hverdage fra kl. 10 til 14. "
        titel="Bønnen"
        tekst="Caféen Brønden & Bønnen danner ramme om gode smagsoplevelser, fællesskab og hverdagsmøder mellem Brøndbys borgere."
        ctaTekst="Læs mere"
        href="/boennen"
        order="-1"
        variant="button"
      />
    </PageLayout>
  </body>
</html>
