---
//@ts-nocheck
import Card from "./Card.astro";
const { kalender } = Astro.props;
---

<article>
  <h2>Kalender</h2>
  <div class="filters">
    <button class="all">Alle</button>
    <button class="rav">Rav</button>
    <button class="bibliotek">Bibliotek</button>
    <button class="bønnen">Bønnen</button>
  </div>
</article>
<div class="grid_1-1-1 calenderlist">
  {kalender.map((events) => <Card event={events} />)}
</div>

<script>
  "use strict";
  function url_param(key, value) {
    const url = new URL(window.location);
    if (value === "all") {
      url.searchParams.delete(key);
    } else {
      url.searchParams.set(key, value);
    }

    window.history.pushState({}, "", url);
  }
  function url_param_get(key) {
    const url = new URL(window.location);
    return url.searchParams.get(key);
  }

  document.querySelector(".all").addEventListener("click", () => {
    url_param("type2", "all");
    filterType();
  });

  document.querySelector(".rav").addEventListener("click", () => {
    url_param("type2", "rav");
    filterType();
  });

  document.querySelector(".bibliotek").addEventListener("click", () => {
    url_param("type2", "bibliotek");
    filterType();
  });

  document.querySelector(".bønnen").addEventListener("click", () => {
    url_param("type2", "bønnen");
    filterType();
  });

  function filterType() {
    const type2 = url_param_get("type2");

    const cards = document.querySelectorAll(".card");

    const activeButton = document.querySelector("." + CSS.escape(type2));

    document.querySelectorAll(".filters button").forEach((b) => b.classList.remove("active"));

    if (activeButton) {
      activeButton.classList.add("active");
    }

    cards.forEach((card) => {
      if (!type2 || type2 === "all") {
        card.style.display = "grid";
      } else if (card.classList.contains(type2)) {
        card.style.display = "grid";
      } else {
        card.style.display = "none";
      }
    });
  }

  filterType();
</script>
<style>
  article {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    row-gap: 1rem;
  }
  button {
    background-color: var(--cta-color-light);
    color: var(--text-color-dark);
    border: solid 1px var(--cta-color-dark);
    padding: 0.3rem 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  .all:hover {
    background-color: var(--darkblue);
    box-shadow: var(--shadow-medium);
    color: var(--text-color-light);
  }
  .all.active {
    background-color: var(--darkblue);
    color: var(--text-color-light);
  }

  .rav:hover {
    background-color: var(--green);
    box-shadow: var(--shadow-medium);
  }
  .rav.active {
    background-color: var(--green);
  }
  .bibliotek:hover {
    background-color: var(--yellow);
    box-shadow: var(--shadow-medium);
  }
  .bibliotek.active {
    background-color: var(--yellow);
  }
  .bønnen:hover {
    background-color: var(--pink);
    box-shadow: var(--shadow-medium);
  }
  .bønnen.active {
    background-color: var(--pink);
  }
  @media (min-width: 900px) {
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
      gap: 1rem;
      grid-template-rows: repeat(6, auto);
      justify-content: center;
    }
  }
</style>
