---
import "../styles/custom.css";
---

<header>
  <nav>
    <ul>
      <div>
        <div class="logo-header">
          <svg class="logo" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206 333">
            <defs>
              <style></style>
            </defs>
            <path
              class="cls-1"
              d="M41.5,333.09l-41.45-.05L0-.08,44.34-.03l.02,103.55L102.65,8.42l38.08,20.32-54.44,86.3,92.04-47.03,20.25,33.07-92.52,47.47,99.76.12v37.01s-103.13-.13-103.13-.13l92.54,50.79-20.72,32.14-88.2-47.26,51.1,83.78-34.7,18.9-61.22-94.81.02,103.99Z"
            ></path>
          </svg>
        </div>
        <p>KULTURHUSET <span>BRØNDEN</span></p>
      </div>
      <div>
        <li><a href="#">Rav</a></li>
        <li><a href="#">B&B</a></li>
        <li><a href="#">Bibliotek</a></li>
        <li><a href="#">Praktisk</a></li>
        <li><a href="#">Om os</a></li>
        <li><a href="#">Kalender</a></li>
      </div>
    </ul>
  </nav>
</header>

<style>
  p,
  a {
    font-family: var(--font-family-beatrice);
  }

  .logo-header {
    max-width: 50px;
  }
</style>
