---
import "../styles/custom.css";
import Logo from "../components/Logo.astro";
import Navigation from "../components/Navigation.astro";
import { Image } from "astro:assets";
const { img, imgTekst, video } = Astro.props;
---

<header>
  <section class="hero">
    {video ? <video src={video} autoplay muted loop playsinline /> : <Image src={img} alt={imgTekst} />}
  </section>
  <section class="header">
    <div class="logo-header">
      <div>
        <a href="/">
          <Logo />
        </a>
      </div>
      <a href="/">
        <p>
          KULTURHUSET
          <span>BRØNDEN</span>
        </p>
      </a>
    </div>
    <Navigation />
  </section>
</header>

<style>
  p {
    font-family: var(--font-family-beatrice);
    font-size: 24px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    align-self: start;
  }

  .logo-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .logo-header div {
    min-width: 50px;
  }

  .logo-header span {
    display: block;
  }

  /* hero */
  header {
    display: grid;
  }
  .hero {
    grid-area: 1/1;
  }

  .header {
    grid-area: 1/1;
  }

  .hero :global(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
